# Project Meta data
.metadata/
*.class
/JavaTestsApplication/nbproject/private/
/JavaTestsApplication/build/
/WorkTimeRewerseCalculator/nbproject/private/
/WorkTimeRewerseCalculator/build/
/WorkTimeRewerseCalculator/dist/